<p>Name:<%=@params[:name]%></p>
<p>email:<%= @params[:email_address]%></p>
<p>street address:<%= @params[:mail_address]%></p>
<p>City:<%= @params[:city]%> State:<%= @params[:state]%> Zip:<%= @params[:zip]%></p>
<p>Phone:<%= @params[:phone]%></p>